header,aside,main,footer{
    border: 1px solid black;
}
#wrapper{
    width: 100%;
    min-width: 340px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: gray;
    height: 50px;
}

aside{
    background-color: azure;
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    height: 1000px;

}

footer{
    background-color: blueviolet;
    clear: both;
    height: 50px;
}

table{
  border:1px solid darkgreen;
}