.container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
}

.header{
    background-color: gray;
    height: 50px;
    padding: 50px;

}

.content{
  content: "";
  clear: both;
  border:1px solid black;  

}
.contentLeft{
    float: left;
    background-color: azure;
    width: 33.33%;
    box-sizing: border-box;
    height: 1000px;
    padding: 50px;
    border:1px solid black;
}
.contentMain{
    float: left;
    background-color: azure;
    width: 33.33%;
    box-sizing: border-box;
    height: 1000px;
    padding: 50px;
    border:1px solid black;
}

.contentRight{
    float: left;
    background-color: azure;
    width: 33.33%;
    box-sizing: border-box;
    height: 1000px;
    padding: 50px;
    border:1px solid black;    
}
.footer{
    background-color: blueviolet;
    height: 50px;
    padding: 50px;
    border:1px solid black;
    box-sizing: border-box;
}
