.container, .header, .content, .footer{
        border: 1px solid black;
}

        .container {
            width: 80%;
            margin: 0 auto;
            border: 1px solid #ccc;
        }

        
        .header {
            background-color: #d3d3d3;
            color: black;
            text-align: center;
            padding: 20px;
            border-bottom: 1px solid #ccc;
        }

        
        .content {
            display: flex; 
            gap: 1px;
            background-color: #e0ffff;
            border-bottom: 1px solid #ccc;
        }

        .contentLeft, .contentMain, .contentRight {
            flex: 1; 
            padding: 20px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            height: 900px;
            border: 1px solid black;
        }

        .footer {
            background-color: #6a5acd;
            color: white;
            text-align: center;
            padding: 20px;
